<%- model_class = Location -%>
<div class="page-header">
  <h1>Habitaciones cerca tuyo</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
      
        <td><%= location.address %></td>
        <td><%= location.city %></td>
        <td><%= location.precio %></td>

        <td>
          <%= link_to "Revisar",
                      location_path(location), :class => 'btn btn-mini' %>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= gmaps4rails(@json) %> 
