<h1><%= @locations.count %> Habitaciones cerca de <%= @query %></h1>

<% if @locations.count >0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 <%end %> 
    <% @locations.each do |location| %>
      <tr>
      
        <td><%= link_to location.address, location %></td>
        <td><%= location.city %></td>
        <td><%= location.precio %></td>

        <td>
          <%= link_to "Revisar",
                      location_path(location), :class => 'btn btn-mini' %>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<% if @locations.count >0 %>
<%= gmaps4rails(@json) %> 
 <%end %> 