<%- model_class = @location.class -%>
<div class="page-header">
<h1><%= @location.address%></h1>
</div>

<dl class="dl-horizontal">

  
  <div class="row">
        <div class="span2">
          
          <div class="control-group">
          
  <dt><strong>Precio $:</strong></dt>
  <dd><%= @location.precio %></dd>


	  </div>
          </div>
          
          
          <div class="span2">
          	
          	<div class="control-group">
          	
  <dt><strong>Internet:</strong></dt>
  <dd>
  <% if @location.internet%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
    </div>
          </div>
          
     <div class="span2">
          	
          	<div class="control-group">
          	      
  <dt><strong>Cocina:</strong></dt>
  <dd>
  <% if @location.cocina%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
     </div>
          </div>
          
           </div>
           
           
        <div class="row">
        <div class="span2">
          
          <div class="control-group">   
          
  <dt><strong>Tvcable:</strong></dt>
  <dd>
  <% if @location.tvcable%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
          
           </div>
         <div class="span2">
          
          <div class="control-group">        
           
  <dt><strong>Baño privado:</strong></dt>
  <dd>
  <% if @location.banioprivado%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
          
           </div>
           
        <div class="span2">
          
          <div class="control-group">             
  <dt><strong>Amoblado:</strong></dt>
  <dd>
  <% if @location.amueblada%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
   </div>
          
           </div>
           
         </div>
         
    <div class="row">
        <div class="span2">
          
          <div class="control-group">         
            
  <dt><strong>Portero:</strong></dt>
  <dd>
  <% if @location.portero%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
    </div>
           
         </div>
  
  <div class="span2">
          
          <div class="control-group">       
          
  <dt><strong>Estacionamiento:</strong></dt>
  <dd>
  <% if @location.estacionamiento%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
         
     <div class="span2">
          
          <div class="control-group">           
  <dt><strong>Balcón/patio:</strong></dt>
  <dd>
  <% if @location.balconpatio%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
    </div>
         </div>   
         </div>
        <div class="row">
        <div class="span2">
          
          <div class="control-group">   
         
  <dt><strong>Gimnasio:</strong></dt>
  <dd>
  <% if @location.gimnasio%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
    
      <div class="span2">
          
          <div class="control-group">      
               
  <dt><strong>Ascensor:</strong></dt>
  <dd>
  <% if @location.ascensor%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
    
          <div class="span2">
          
          <div class="control-group">      
           
    <dt><strong>Teléfono:</strong></dt>
  <dd>
  <% if @location.telefono%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
            </div>   
         </div>
         
          <div class="row">
        <div class="span2">
          
          <div class="control-group">   
         
  <dt><strong>Lavadora:</strong></dt>
  <dd>
  <% if @location.lavadora%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
             </div>   
         
         
         
         
       <div class="row">
        <div class="span6">
          
          <div class="control-group">     
        
   <dt><strong>Detalle:</strong></dt>
  <dd>
  <% if @location.detalle!= ""%>
  	<div class="controls">
      <%= text_area :location, :detalle, :class => 'text_area',:rows => '4',:value => @location.detalle, :disabled=>"true"  %>
    </div>
  <% else %>	
  	No hay información
  <% end %>	
  </dd>
 </div>
            </div>   
         </div>
         
         
</dl>
<br/>

<dl class="">

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}", :class=> "img-polaroid" %>

</dl>

<div class="form-actions">
  <%= link_to "Volver",
              locations_path, :class => 'btn'  %>
 
</div>
