<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=316225008475265";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<%- model_class = @location.class -%>
<div class="page-header">
<h1><%= @location.address%></h1>

<div class="fb-like" data-href=<%= location_url(@location)%> data-send="true" data-width="450" data-show-faces="true"></div>

</div>

<dl class="dl-horizontal">

  
  <div class="row">
        <div class="span2">
          
          <div class="control-group">
          
  <dt><strong>Precio $:</strong></dt>
  <dd><%= @location.precio %></dd>


	  </div>
          </div>
          
          
          <div class="span2">
          	
          	<div class="control-group">
          	
  <dt><strong>Internet:</strong></dt>
  <dd>
  <% if @location.internet%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
    </div>
          </div>
          
     <div class="span2">
          	
          	<div class="control-group">
          	      
  <dt><strong>Cocina:</strong></dt>
  <dd>
  <% if @location.cocina%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
     </div>
          </div>
          
           </div>
           
           
        <div class="row">
        <div class="span2">
          
          <div class="control-group">   
          
  <dt><strong>Tvcable:</strong></dt>
  <dd>
  <% if @location.tvcable%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
          
           </div>
         <div class="span2">
          
          <div class="control-group">        
           
  <dt><strong>Baño privado:</strong></dt>
  <dd>
  <% if @location.banioprivado%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
          
           </div>
           
        <div class="span2">
          
          <div class="control-group">             
  <dt><strong>Amoblado:</strong></dt>
  <dd>
  <% if @location.amueblada%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
   </div>
          
           </div>
           
         </div>
         
    <div class="row">
        <div class="span2">
          
          <div class="control-group">         
            
  <dt><strong>Portero:</strong></dt>
  <dd>
  <% if @location.portero%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
    </div>
           
         </div>
  
  <div class="span2">
          
          <div class="control-group">       
          
  <dt><strong>Estacionamiento:</strong></dt>
  <dd>
  <% if @location.estacionamiento%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
         
     <div class="span2">
          
          <div class="control-group">           
  <dt><strong>Balcón/patio:</strong></dt>
  <dd>
  <% if @location.balconpatio%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
    </div>
         </div>   
         </div>
        <div class="row">
        <div class="span2">
          
          <div class="control-group">   
         
  <dt><strong>Gimnasio:</strong></dt>
  <dd>
  <% if @location.gimnasio%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
    
      <div class="span2">
          
          <div class="control-group">      
               
  <dt><strong>Ascensor:</strong></dt>
  <dd>
  <% if @location.ascensor%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
    
          <div class="span2">
          
          <div class="control-group">      
           
    <dt><strong>Teléfono:</strong></dt>
  <dd>
  <% if @location.telefono%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
            </div>   
         </div>
         
          <div class="row">
        <div class="span2">
          
          <div class="control-group">   
         
  <dt><strong>Lavadora:</strong></dt>
  <dd>
  <% if @location.lavadora%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
   </div>
           
         </div>
             </div>   
         
         
         
         
       <div class="row">
        <div class="span6">
          
          <div class="control-group">     
        
   <dt><strong>Detalle:</strong></dt>
  <dd>
  <% if @location.detalle!= ""%>
  	<div class="controls">
      <%= text_area :location, :detalle, :class => 'text_area',:rows => '4',:value => @location.detalle, :disabled=>"true"  %>
    </div>
  <% else %>	
  	No hay información
  <% end %>	
  </dd>
 </div>
            </div>   
         </div>
         
         
</dl>


<br/>
<div class="fb-comments" data-href=<%= location_url(@location)%> data-num-posts="4" data-width="470"></div>
<br/>

<%if @location.image %>
<h3>Foto</h3>
<%= image_tag @location.image.url %>
<% end %>


<dl class="">

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}", :class=> "img-polaroid" %>

</dl>

<h3>Habitaciones cercanas</h3>
<ul>
<% for location in @location.nearbys(15) %>
  <li><%= link_to location.address, location %> (<%= location.distance.to_f.round(2) %> kms)</li>
<% end %>
</ul>

<br/>

<h3>Lugares cercanos</h3>
<ul>
<% for place in @places %>
  <li><%=  link_to  place.name, place %> (<%= @location.distance_from([place.latitude,place.longitude]).to_f.round(2) %> kms)</li>
<% end %>
</ul>

<h3>Imágenes del sector</h3>
<div id="wapiblock" ></div>

<div class="form-actions">
  <%= link_to "Volver",
              locations_path, :class => 'btn'  %>
 
</div>



<script type="text/javascript">

function requestAroundLatLong(lat,lng,km){

 // angle per km = 360 / (2 * pi * 6378) = 0.0089833458

 var angle=km* 0.0089833458;

 var myRequest = new panoramio.PhotoRequest({

  'rect': {'sw': {'lat': lat-angle, 'lng': lng-angle}, 'ne': {'lat': lat+angle, 'lng': lng+angle}}

  });

 return myRequest;

 }


var myOptions = {
  'width': 500,
  'height': 400
};

var widget = new panoramio.PhotoWidget('wapiblock', requestAroundLatLong(<%= @location.latitude %>,<%= @location.longitude %>,0.1), myOptions);
widget.setPosition(0);

</script>
