    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Filtros</li>
              <li><%= link_to "Ascensor", "/path1"  %></li>
              <li><%= link_to "Balcón/Patio", "/path2"  %></li>
              <li><%= link_to "Baño Privado", "/path3"  %></li>
              <li><%= link_to "Cocina", "/path3"  %></li>
              <li><%= link_to "Estacionamiento", "/path3"  %></li>
              <li><%= link_to "Gimnasio", "/path3"  %></li>
              <li><%= link_to "Internet", "/path3"  %></li>
              <li><%= link_to "Lavadora", "/path3"  %></li>
              <li><%= link_to "Portero", "/path3"  %></li>
              <li><%= link_to "Teléfono", "/path3"  %></li>
              <li><%= link_to "TVcable", "/path3"  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
      
